<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DevNuno Portfolio Website</title>
        <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
        crossorigin="anonymous"
      />
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="img.png" alt="">
            </div>
            <button class="nav-toggle" aria-label="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="index.html" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="index.html#services" class="nav__link">My Services</a></li>
                    <li class="nav__item"><a href="index.html#about" class="nav__link">About me</a></li>
                    <li class="nav__item"><a href="index.html#work" class="nav__link">My Work</a></li>
                </ul>
            </nav>
        </header>

        <section class="intro">
            <h1 class="section__title section__title--intro">
             The<strong>Confid19</strong>
            </h1>
            <p class="section__subtitle section__subtitle--intro">A ReactJS App</p>
            <img src="img/Portfolio_item4.png" alt="" class="intro__img">
        </section>

        <div class="portfolio-item-individual">
            <p>Confid-19, is a solution that compiles a huge amount of data related with the Coronavirus, and has also a psychological "side".</p>
            <p>The purpose of this app is to combat the dispersion of information related to the pandemic, providing information from reliable sources to the user.</p>
            <video width="320" height="240" controls>
                <source src="https://res.cloudinary.com/dylut4r4t/video/upload/v1611836968/samples/Demo_Confid-19_ovdeq5.mp4" >
            </video>
            <h4>Technologies</h4>
            <li>HTML</li>
            <li>CSS</li>
            <li>Bootstrap</li>
            <li>JavaScript</li>
            <li>ExpressJS</li>
            <li>NodeJS</li>
            <li>MongoDB</li>
            <li>ReactJS</li>
            <li>API's</li>
            <h4>Main features</h4>
            <li>News related with Corona plus a button to share on Facebook </li>
            <li>Option to select between PT or ENG language</li>
            <li>A page displaying all the countries data, where you use a search bar</li>
            <li>An option to create feelings felt during the pandemics</li>
            <li>Mary - a chatbot that will provide you info about Covid and also some calm down insights</li>
        </div>


        <footer class="footer">
            <a href="mailto:nunorpacheco@gmail.com" class="footer__link">nunorpacheco@gmail.com</a>
            <ul class="social-list">
                <li class="social-list__item">
                    <li class="social-list__item">
                        <a class="social-list__link" href="https://github.com/nuno-pacheco">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a class="social-list__link" href="https://www.facebook.com/nuno.pacheco.5074">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a class="social-list__link" href="https://www.linkedin.com/in/nunpacheco/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </li>
            </ul>
        </footer>

        <script src="js/index.js"></script>


    </body>
</html>